@font-face {
  font-family: reggae;
  src: url(fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

.toBeMimic {
  width: 1000 px;
  height: 20%;
  border: 1px solid black;
  padding: 50px;
}

.header {
  font-family: reggae;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
  border-bottom: 5px solid black;
}

h1 {
  font-family: reggae;
}

.floating{
  float:right;
}

.original {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}

#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
  border-bottom: 5px solid black;
}

.img {
  width: 10%;
}

.arrow {
  width: 5%;
}

.txtArea {
  width: 300px;
  font-size: 50px;
  margin: 0 auto;
}

.container {
  height: 40px;
  background-color: #ccc;
  position: relative;
  border-radius: 10px;
}

.container .progress-bar {
  position: absolute;
  height: 100%;
  background-color: cadetblue;

  border-radius: 10px;
}

#play-animation {
  animation: progress-animation 10s, forwards;
}

@keyframes progress-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.hypeMan{
  font-family: reggae;
  font-size: 20px;

}

.superContainer{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}
